h1 {
  color:crimson;
  /* margin: 0; */
}
h1, h2, p {
  margin: 0;
}
.section {
  display: flex;

  justify-content: center;
}
.section2 {
  display: flex;
  flex-direction: column;
  align-items: left;
}  
/* }
.fire {
  color: red !important;
  /* перекрывает все */

.button {
  width: 250 px;
  height: 40px;
  background-color: azure;
  margin-bottom: 15px;
  cursor: pointer;
}
.button:hover {
  background-color: coral;
}
.desc {
  margin-top: 15px;
  margin-bottom: 15px;
}
.fire {
  color: red;
}
.card {
  width: 500px;
  height: 200px;
  border: 2px solid black;
  padding: 30px;
  background-color: papayawhip;
  margin-bottom: 30 px;
}